[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
toml = "*"
lxml = "*"
miniaudio = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
