beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
idna==2.8
lxml==4.4.2
miniaudio==1.10
mypy==0.761
mypy-extensions==0.4.3
pycparser==2.19
requests==2.22.0
soupsieve==1.9.5
toml==0.10.0
tqdm==4.41.1
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
